<div class="col-md-8 offset-md-2">
  <h2 class="text-center">注文履歴</h2>

  <%= form_with(model: @product, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, "日付指定" %>
      <%= f.date_select :date, use_month_numbers: true, class:'form-control' %>
    </div>
  <% end %>

  <table class= "table">
    <tr>
      <% if current_user.admin? %>
        <th>購入者</th>
      <% end %>
      <th>商品名</th>
      <th>購入数</th>
      <th>金額</th>
      <th>配達者ID</th>
      <th>購入日</th>
    </tr>

    <% @purchase_histories.each do |purchase_history| %>
      <tr>
        <% if current_user.admin? %>
          <td><%= purchase_history.user_name %></td>
        <% end %>
        <td><%= purchase_history.product_name %></td>
        <td><%= purchase_history.quantity %></td>
        <td>¥<%= purchase_history.price %></td>
        <td><%= purchase_history.delivery_user %></td>  
        <td><%= purchase_history.updated_at.strftime('%Y/%m/%d %H:%M') %></td>

      </tr>
    <% end %>
  </table>

  <%= paginate @purchase_histories %>

  <% if current_user.admin? %>
    <div class="text-right">
      <%= link_to "CSV出力", purchase_history_path(format: :csv), class: "btn btn-success mt-3" %>
    </div>
  <% end %>

</div>