<div class="col-md-8 offset-md-2">
  <h2 class="text-center">カート</h2>

  <% if @cart_items.blank? %>
    <p class="text-center mt-5">カートに商品はありません。</p>
  <% else %>

    <table class= "table">
      <% @cart_items.zip(@order_nums) do |cart_item, order_num| %>
        <tr>
          <td>タイトル: <%= cart_item.name %></td>
          <td>著者: <%= cart_item.author %></td>
          <td>価格: ¥<%= cart_item.price %></td>
          <td>購入数: <%= order_num.quantity %></td>
          <td>
            <%= link_to "変更", edit_cart_path(cart_item), class: "btn btn-edit btn-sm" %>
            <%= link_to "削除", cart_path(cart_item), class: "btn btn-delete btn-sm", method: :delete, data: { confirm: 'この商品を削除してもよろしいですか？' } %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="text-right">合計金額: <%= @total_price %> 円</div>

    <div>
      <%= form_with(url: :charge, method: :post) do |f| %>
        <div class="form-group col-md-6">
          <%= f.label :delivery_user, "配達者(ユーザーID)" %>
          <%= f.text_field :delivery_user, class: "form-control" %>
        </div>

        <%= f.hidden_field :product_ids, :value => @cart_items.ids.join(",") %>
        
        <div class="text-right">
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"

          data-key=<%= Rails.configuration.stripe[:data_key] %>
          
          data-amount=<%= @total_price %>
          data-currency="jpy"
          data-name="Stripe.com"
          data-label="支払い画面へ" 
          data-description="Example charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
        </div>
      <% end %>
    </div>
  <% end %>
</div>