<ul>
  <% @cart_items.zip(@order_nums) do |cart_item, order_num| %>
    <li>
      <div>タイトル: <%= cart_item.name %></div>
      <div>著者: <%= cart_item.author %></div>
      <div>価格: ¥<%= cart_item.price %></div>
      <div>購入数: <%= order_num.quantity %></div>
      <div>
        <%= link_to "変更する", edit_cart_path(cart_item), class: "btn btn-info btn-sm" %>
        <%= link_to "削除する", cart_path(cart_item), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'この商品を削除してもよろしいですか？' } %>
      </div>
    </li>
  <% end %>
</ul>
<div>合計金額: <%= @total_price %> 円</div>
<div class="btn btn-success mt-3">購入する</div>


<div>
  <%= form_with(url: :charge, method: :post) do |f| %>
    <%= f.hidden_field :product_ids, :value => @cart_items.ids.join(",") %>

    <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key=<%= ENV['STRIPE_API_KEY'] %>
      data-amount=<%= @total_price %>
      data-currency="jpy"
      data-name="Stripe.com"
      data-description="Example charge"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
    </script>
  <% end %>
</div>